<nav id="navbar" class="padding-left-2 padding-right-2">
    <a class="return-button" href="#"><i class="large material-icons waves-effect waves-light">arrow_upward</i></a>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo"><img src="<%= logo %>" alt="logo"></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <% for(let i=0; i < nav.length; i++) { %>
            <li><a href="<%= nav[i].link %>"><span class="link-color"><%= nav[i].number %></span> <%= nav[i].name %></a></li>
            <% } %>
            <% if(projects.length > 0) { %>
            <li><a class="waves-effect waves-light btn-small my-button" href="resume.pdf" target="_blank">Resume</a></li>
            <% } %>
        </ul>
    </div>
</nav>