.intro {
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(139deg, rgba(0, 0, 0, 1) 0%, rgba(69, 69, 69, 1) 67%, rgba(120, 120, 120, 1) 83%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-linear-gradient(139deg, rgba(0, 0, 0, 1) 0%, rgba(69, 69, 69, 1) 67%, rgba(120, 120, 120, 1) 83%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(139deg, rgba(0, 0, 0, 1) 0%, rgba(69, 69, 69, 1) 67%, rgba(120, 120, 120, 1) 83%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#ffffff", GradientType=1);

    .header {
        margin-bottom: 2rem;
    }
}

#searchUser {
    color: #fff;
}

footer {
    text-align: center;
    min-height: 5rem;
    padding: 5rem;
}

// Clash styles

.clan {
    height: 40rem;

    &::before {
        content: '';
        background: url('../images/clash.jpg');
        background-size: cover;
        position: absolute;
        top: $navbar-height;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: .3;
        z-index: -1;
    }

    span {
        margin-top: 2rem;
    }

}

.members {
    border-radius: 15px;
    text-align: center;
    margin: -6rem 1rem 5rem 1rem;
    background: darken($table-color, 3);

    h1 {
        margin: 0;
        padding: 2rem;
    }

    .row {
        margin: 0 1rem 0 1rem;

        @media #{$small-and-down} {
            background: $table-color;
            margin-bottom: 1.2rem;

            &:first-child {
                background: none;
            }
        }

        .col {
            margin-top: 1rem;
            text-align: left;
            background-color: $table-color;
            font-size: $h5-fontsize * .8;

            p {
                margin: 0;
                padding: 1.5rem;

                &:first-child {
                    font-size: $h5-fontsize;
                }
            }

        }
    }


}